img{
    width: 300px
}

body{
    text-align: center;
    font-family: arial;
    background-color: #94BCB2;
    color:#000000;

}

#footer{
    width: 100%;
    height: 75px;
    background-color: rgb(98, 46, 150);
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

#games-link{
    color: white;
}